
.App {
    text-align: center;
  }

* {
  font-family: Roboto, Helvetica,  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  

ul{
  list-style:none;
  display: inline-block;
  background-color:#34715b;
  border-radius: 4px;
}

ul li{
  display: inline-block;
  cursor:pointer;
  background-color:#34715b; 
  text-decoration: none;
  color:white;
  transition:0.3s;
  font: 14px;
}

ul li:hover {
  background-color:#45a049;
}

ul li.active {
  background-color:#45a049;
}

a {
  font-family: sans-serif;
  text-decoration: none;
  padding: 10px 20px;
  text-align: center;
  color: white;
  display: block;
}

ul li.active a {
    color: #fff;
}

 p {
    padding-top:15px;
    font-size:16px;
} 

  header {
    border-top: 1px solid #ccc;
    margin-top: 20px;
  } 
  
  input[type="text"]:focus {
    border: 3px solid #555;
  }
  

input[type="text"], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
  }

  
  input[type="submit"] {
  width: 50%;
  background-color: #34715b;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  }
  
input[type="submit"]:hover {
  background-color: #45a049;
}
  
div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

input[type="text"] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}



input[type="password"] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

textarea {
  width: 50%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
  resize: none;
}
